
@{
    Layout = null;
}


<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Error 403 - Access Denied!</title>
    <link rel="stylesheet" type="text/css" href="~/simple-404-template-master/assets/css/style.css" />
    <link href="/simple-404-template-master/assets/images/favicon.png" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
    <div class="container">
        <img class="ops" src="/simple-404-template-master/assets/images/403.jpg" />
        <br />
        <h3>
            Opss! Bu səhifəyə giriş üçün icazəniz yoxdur.
            <br /> Zəhmət olmasa geri qayıdın
        </h3>
        <br />
        <a class="buton" href="javascript:history.back()">Geri</a>
    </div>
</body>

</html>
