@using PresentationLayer.Models
@model ForgetPasswordViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgetPassword</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container" style="display: flex;align-items: center;justify-content: center;">
        <div class="row" style="margin-top: 40vh;">
            @if (TempData["SendSuccess"] != null)
            {
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Uğurlu!</strong> Mailinizə şifrənizi yeniləmək üçün linkgöndərildi,zəhmət olmasa mailinizi yoxlayın!.
                </div>

                <br />
            }
            @if (TempData["SendError"] != null)
            {
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Xəta!</strong> Sistemdə bu maildə istifadəçi tapılmadı!.
                </div>
                <br />
            }
            <div>
                <form method="post">
                    <label asp-for="Mail">Emaili daxil edin</label>
                    <input class="form-control" type="email" asp-for="Mail" />
                    <span asp-validation-for="Mail" styel="color:red;"></span>
                    <button class="btn btn-outline-danger" type="submit">Göndər</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
