@model PresentationLayer.Models.UserLoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/Login_v1/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login_v1/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login_v1/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login_v1/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login_v1/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login_v1/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/Login_v1/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/Login_v1/css/main.css">
	<!--===============================================================================================-->
	@*Swwete alert*@
	<link media="screen" rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.min.css" />
	<link media="screen" rel="stylesheet" href='https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.css' />
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.min.js"></script>
	@*Swwete alert*@
</head>
<body>
	@if (TempData["locked"] != null)
	{
		<script type="text/javascript">
			window.onload = function () {
				swal("Xəta", '3 dəfə uğursuz cəhdə görə hesabınıza giriş 3 dəqiqəlik bağlandı.Zəhmət olmasa 3 dəqiqədən sora yenidən cəhd edin.', "error");
			};
		</script>
	}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="/Login_v1/images/img-01.png" alt="IMG">
				</div>
				<form method="post" class="login100-form validate-form">
					<span class="login100-form-title">
						Hesabınıza daxil olun
					</span>
					<div class="wrap-input100 validate-input" data-validate="Zəhmət olmasa istifadəçi adınızı edin">
						<input class="input100" type="text" asp-for="UserName" placeholder="İstifadəçi adı">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
						<span class="text-danger" asp-validation-for="UserName"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Şifrə vacibdir">
						<input class="input100" type="password" asp-for="UserPassword" placeholder="Şifrə">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
						<span asp-validation-for="UserPassword"></span>
					</div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Daxİl ol
						</button>
					</div>
					<div class="text-center p-t-12">
						<span class="txt1">
							Unutdum
						</span>
						<a class="txt2" href="/Account/ForgetPassword">
							Email / Şifrə?
						</a>
					</div>
					<div class="text-center p-t-136">
						<a class="txt2" href="/Account/SignUp">
							Yeni hesab yaradın
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
					<div asp-validation-summary="ModelOnly"></div>
				</form>
			</div>
		</div>
	</div>
	<!--===============================================================================================-->
	<script src="~/Login_v1/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Login_v1/vendor/bootstrap/js/popper.js"></script>
	<script src="~/Login_v1/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Login_v1/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Login_v1/vendor/tilt/tilt.jquery.min.js"></script>
	<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	<!--===============================================================================================-->
	<script src="~/Login_v1/js/main.js"></script>
</body>
</html>