<ul class="menu-inner py-1">
    <li class="menu-item active">
        <a href="/Admin/AdminDashboard/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/AccountUnitOfWork/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Pul göndərmək(UnitOfWork)</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/ApiMovie/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Filmlər(RapidApi)</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/HotelsApi/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Otellər(RapidApi)</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/ApiExchange/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Məzənnə(RapidApi)</div>
        </a>
    </li>
    <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Səhİfələr</span>
    </li>
    <li class="menu-item">
        <a href="/Admin/AdminDestination/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-collection"></i>
            <div data-i18n="Basic">Turlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/AdminDestinationCQRS/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-collection"></i>
            <div data-i18n="Basic">Turlar(CQRS Design)</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/AdminMail/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-collection"></i>
            <div data-i18n="Basic">Yeni mail</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/AdminAnnouncement/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-collection"></i>
            <div data-i18n="Basic">Xəbərlər</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/AdminTestimonialAjax/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-crown"></i>
            <div data-i18n="Boxicons">Müştəri fikirləri(Ajax)</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/AdminComment/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-crown"></i>
            <div data-i18n="Boxicons">Yorumlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/AdminUser/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-table"></i>
            <div data-i18n="Tables">Ziyarətçilər</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/VisitorApi/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-table"></i>
            <div data-i18n="Tables">Ziyarətçilər(Api)</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/AdminContactUs/Index"
           class="menu-link">
            <i class="menu-icon tf-icons bx bx-support"></i>
            <div data-i18n="Support">Mesajlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/AdminGuide/Index"
           class="menu-link">
            <i class="menu-icon tf-icons bx bx-car"></i>
            <div data-i18n="Documentation">Bələdçilər</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/AdminGuideMediatR/Index"
           class="menu-link">
            <i class="menu-icon tf-icons bx bx-car"></i>
            <div data-i18n="Documentation">Bələdçilər(MediatR)</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="#"
           class="menu-link">
            <i class="menu-icon tf-icons bx bx-file"></i>
            <div data-i18n="Documentation">Önə çıxanlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="#"
           class="menu-link">
            <i class="menu-icon tf-icons bx bx-navigation"></i>
            <div data-i18n="Documentation">Referanslar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="#"
           class="menu-link">
            <i class="menu-icon tf-icons bx bx-abacus"></i>
            <div data-i18n="Documentation">Haqqımda</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="#"
           class="menu-link">
            <i class="menu-icon tf-icons bx bx-restaurant"></i>
            <div data-i18n="Documentation">Rezervasiyalar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="#"
           class="menu-link">
            <i class="menu-icon tf-icons bx bx-envelope"></i>
            <div data-i18n="Documentation">Mail bülleteni</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="#"
           class="menu-link">
            <i class="menu-icon tf-icons bx bx-navigation"></i>
            <div data-i18n="Documentation">Haqqımda</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="#"
           class="menu-link">
            <i class="menu-icon tf-icons bx bx-key"></i>
            <div data-i18n="Documentation">Şifrə</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Role/Index"
           class="menu-link">
            <i class="menu-icon tf-icons bx bxs-thermometer"></i>
            <div data-i18n="Documentation">Vəzifələr</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/AdminExcel/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-table"></i>
            <div data-i18n="Tables">Excel faylları</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/AdminPdfReport/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-table"></i>
            <div data-i18n="Tables">Pdf faylları</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Account/LogOut"
           class="menu-link">
            <i class="menu-icon tf-icons bx bx-log-out-circle"></i>
            <div data-i18n="Documentation">Çıxış</div>
        </a>
    </li>
</ul>
