
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h4>Excel faylları</h4>
<hr />
<a href="/Admin/AdminExcel/DestinationExcel" class="btn btn-outline-info">Turlar</a>
<a href="/Admin/AdminExcel/AppUser" class="btn btn-outline-warning">İstifadəçilər</a>

