@model EntityLayer.Concrete.AppUser
<div class="col-auto">
    <div class="avatar avatar-xl position-relative">
        <img src="/Images/@Model.Image" alt="@Model.UserName" class="w-100 border-radius-lg shadow-sm">
    </div>
</div>
<div class="col-auto my-auto">
    <div class="h-100">
        <h5 class="mb-1">
            @Model.Name @Model.Surname
        </h5>
        <p class="mb-0 font-weight-bold text-sm">
            İstifadəçi adı : @("@"+Model.UserName)
        </p>
    </div>
</div>