
@{
    Layout = null;
}
<!doctype html>
<html lang="az">
@await Html.PartialAsync("/Views/SiteLayoutPartial/_HeadPartial.cshtml")
<body>
    <header id="site-header" class="fixed-top">
        <div class="container">
            @await Html.PartialAsync("/Views/SiteLayoutPartial/_TopNavPartial.cshtml")
        </div>
    </header>
    @RenderBody()
    @await Html.PartialAsync("/Views/SiteLayoutPartial/_FooterPartial.cshtml")
    @await Html.PartialAsync("/Views/SiteLayoutPartial/_ScriptPartial.cshtml")
</body>
</html>