
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<h4>Pdf faylları</h4>
<hr />
<a href="/Admin/AdminPdfReport/DestinationPdf" class="btn btn-outline-primary">Turlar</a>
